####-*.patch
*.pyc
*.swp
build/
dist/
tmp/
*.egg/
/electrum.py
contrib/pyinstaller/
Electrum_MONA.egg-info/
gui/qt/icons_rc.py
locale/
.devlocaltmp/
*_trial_temp
packages
env/
.tox/
.buildozer/
bin/

# tox files
.cache/
.coverage
