####-*.patch
*.pyc
*.swp
build/
dist/
tmp/
*.egg/
contrib/pyinstaller/
Electrum_MONA.egg-info/
electrum/locale/
.devlocaltmp/
*_trial_temp
packages
env/
.buildozer/
bin/
/app.fil
.idea

# icons
electrum_mona/gui/kivy/theming/light-0.png
electrum_mona/gui/kivy/theming/light.atlas

# tests/tox
.tox/
.cache/
.coverage
.pytest_cache
