####-*.patch
*.pyc
*.swp
build/
dist/
tmp/
*.egg/
contrib/pyinstaller/
Electrum_MONA.egg-info/
electrum/gui/qt/icons_rc.py
locale/
.devlocaltmp/
*_trial_temp
packages
env/
.tox/
.buildozer/
bin/
/app.fil
lib/.pytest_cache
.pytest_cache

# tox files
.cache/
.coverage
