# If you want Electrum to appear in a Linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum-monas.desktop

[Desktop Entry]
Comment=Lightweight Monacoin Client
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\" electrum-mona %u"
GenericName[en_US]=Monacoin Wallet
GenericName=Monacoin Wallet
Icon=electrum-mona
Name[en_US]=Electrum-mona Monacoin Wallet
Name=Electrum Monacoin Wallet
Categories=Finance;Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/monacoin;
Actions=Testnet;

[Desktop Action Testnet]
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\" electrum-mona --testnet %u"
Name=Testnet mode
